body{
  background: url(img/bgdaftar.jpg);
  background-size: cover;
}
.container{
 width: 570px;
background: whitesmoke;   /*meletakkan form ke tengah*/
  margin: 80px auto;
  padding: 70px 20px;
  border-radius: 20px;
  box-shadow: darkblue; 
  color: black;
 }

}
.tulisan_login{
    text-align: center;
  color: white;
  /*membuat semua huruf menjadi kapital*/
  text-transform: uppercase;
}
.tombol_login{
  background-color: darkslateblue;
  color: white;
 font-size: 8pt;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: bold;
}
.tombol_login:hover{
  background-color: ;
} 
.link{
  color: blue;
  font-color:white ;
  text-decoration: none;
  font-size: 10pt;
}




